package ${package.Controller};

#if(${controllerMappingHyphenStyle})
    #set($routePathName = ${controllerMappingHyphen})
#else
    #set($routePathName = ${table.entityPath})
#end
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.nekoimi.boot.framework.mybatis.entity.BaseEntity;
import com.nekoimi.boot.framework.http.JsonResponse;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import java.io.Serializable;
import java.util.Arrays;
import java.util.List;
import java.util.Map;

/**
 * ${entity} Controller
 *
 * nekoimi  ${date}
 */
@RestController
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} targetService;

    /**
     * 获取分页列表
     *
     * @return
     */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/list")
    public JsonResponse list() {
        LambdaQueryWrapper<${entity}> wrapper = new LambdaQueryWrapper<>();
        wrapper.orderByDesc(BaseEntity::getCreatedAt);
        IPage<${entity}> paginator = targetService.listPaginator(page(), pageSize(), wrapper);
        return ok(paginator);
    }

    /**
    * 获取下拉列表
    *
    * @return
    */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/down")
    public JsonResponse down() {
        LambdaQueryWrapper<${entity}> wrapper = new LambdaQueryWrapper<>();
        wrapper.orderByDesc(BaseEntity::getCreatedAt);
        List<${entity}> list = targetService.findAll(wrapper);
        return ok("list", list);
    }

    /**
     * 根据id获取数据
     *
     * @param id
     * @return
     */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public JsonResponse get(@PathVariable("id") Serializable id) {
        ${entity} result = targetService.getByOrFail(id);
        return ok(result);
    }

    /**
     * 添加数据
     *
     * @return
     */
    @PostMapping("api/${cfg.apiVersion}/${cfg.routeName}")
    public JsonResponse create(@RequestBody Map<String, Object> map) {
        Serializable id = targetService.create(map);
        ${entity} result = targetService.getBy(id);
        return ok(result);
    }

    /**
     * 根据id更新数据
     *
     * @param map
     * @return
     */
    @PutMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public JsonResponse update(@PathVariable("id") String id, @RequestBody Map<String, Object> map) {
        targetService.update(id, map);
        return ok();
    }

    /**
     * 根据id删除数据
     *
     * @param id
     * @return
     */
    @DeleteMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public JsonResponse remove(@PathVariable("id") String id) {
        targetService.removeBy(id);
        return ok();
    }

    /**
     * 批量删除数据
     *
     * @return
     */
    @DeleteMapping("api/${cfg.apiVersion}/${cfg.routeName}/batch")
    public JsonResponse removeBatch(@RequestParam(value = "ids", required = false) String ids) {
        if (ids == null || ids.trim().length() <= 0) {
            return ok(); // Ignore.
        }
        List<String> list = Arrays.asList(ids.trim().split("[,]"));
        targetService.removeBy(list);
        return ok();
    }

}
