package ${package.Controller};

#if(${controllerMappingHyphenStyle})
    #set($routePathName = ${controllerMappingHyphen})
#else
    #set($routePathName = ${table.entityPath})
#end
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * ${entity} Controller
 *
 * nekoimi  ${date}
 */
@RestController
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} targetService;

    /**
     * 获取分页列表
     *
     * @return
     */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/list")
    public Mono<JsonResponse> list(ServerWebExchange exchange) {
        LambdaQueryWrapper<${entity}> wrapper = new LambdaQueryWrapper<>();
        wrapper.orderByDesc(BaseEntity::getCreatedAt);
        PaginatorResult<User> result = targetService.listPaginator(page(exchange), pageSize(exchange), wrapper);
        return JsonResponse.ok(result);
    }

    /**
    * 获取下拉列表
    *
    * @return
    */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/down")
    public Mono<JsonResponse> down() {
        LambdaQueryWrapper<${entity}> wrapper = new LambdaQueryWrapper<>();
        wrapper.orderByDesc(BaseEntity::getCreatedAt);
        List<${entity}> list = targetService.findAll(wrapper);
        return JsonResponse.ok(Map.of("list", list));
    }

    /**
     * 根据id获取数据
     *
     * @param id
     * @return
     */
    @GetMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public Mono<JsonResponse> get(@PathVariable("id") Serializable id) {
        ${entity} result = targetService.getByOrFail(id);
        return JsonResponse.ok(result);
    }

    /**
     * 添加数据
     *
     * @return
     */
    @PostMapping("api/${cfg.apiVersion}/${cfg.routeName}")
    public Mono<JsonResponse> create(@RequestBody Map<String, Object> map) {
        Serializable id = targetService.create(map);
        ${entity} result = targetService.getBy(id);
        return JsonResponse.ok(result);
    }

    /**
     * 根据id更新数据
     *
     * @param map
     * @return
     */
    @PutMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public Mono<JsonResponse> update(@PathVariable("id") String id, @RequestBody Map<String, Object> map) {
        targetService.update(id, map);
        return JsonResponse.ok();
    }

    /**
     * 根据id删除数据
     *
     * @param id
     * @return
     */
    @DeleteMapping("api/${cfg.apiVersion}/${cfg.routeName}/{id}")
    public Mono<JsonResponse> remove(@PathVariable("id") String id) {
        targetService.removeBy(id);
        return JsonResponse.ok();
    }

    /**
     * 批量删除数据
     *
     * @return
     */
    @DeleteMapping("api/${cfg.apiVersion}/${cfg.routeName}/batch")
    public Mono<JsonResponse> removeBatch(@RequestParam(value = "ids", required = false) String ids) {
        if (ids == null || ids.trim().length() <= 0) {
            return JsonResponse.ok(); // Ignore.
        }
        List<String> list = Arrays.asList(ids.trim().split("[,]"));
        targetService.removeBy(list);
        return JsonResponse.ok();
    }

}
